[Unit]
Description=Uploads flight records to a database
Wants=radar-flight-upload.timer
OnFailure=notify-email@%i.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dump1090-history-manager --data_dir=/run/dump1090-fa --postgres_upload --alsologtostderr 2>&1

[Install]
WantedBy=multi-user.target
